ADMIN_EMAIL=
ADMIN_PASSWORD=
ALLOWED_ORIGINS=
BKASH_APP_KEY=
BKASH_APP_SECRET=
BKASH_PASSWORD=
BKASH_USERNAME=
BKASH_WEBHOOK_SECRET=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_URL=
COOKIE_SECRET=
DATABASE_URL=
GA_API_SECRET=
GA_MEASUREMENT_ID=
GA_PROPERTY_ID=
GOOGLE_CREDENTIALS_JSON=
JWT_EXPIRES_IN=
JWT_REFRESH_EXPIRES_IN=
JWT_SECRET=
NAGAD_MERCHANT_ID=
NAGAD_PRIVATE_KEY=
NAGAD_PUBLIC_KEY=
NAGAD_WEBHOOK_SECRET=
SSLCOMMERZ_STORE_ID=
SSLCOMMERZ_STORE_PASSWORD=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
PATHAO_BASE_URL=
PATHAO_CLIENT_ID=
PATHAO_CLIENT_SECRET=
PATHAO_USERNAME=
PATHAO_PASSWORD=